* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Backgrounds */
  --bg-primary: #020617;        /* page background */
  --bg-secondary: #0f172a;      /* card background */
  --bg-input: rgb(255, 255, 255);

  /* Text */
  --text-primary: #ffffff;
  --text-secondary: #006aff;

  /* Borders & Effects */
  --border-color: rgba(255,255,255,0.15);

  /* Accent (Main Brand Color) */
  --accent-primary: #38bdf8;    /* neon blue */
  --accent-hover: #0ea5e9;

  /* Extra */
  --success: #22c55e;
  --error: #ef4444;
}

body {
  background-color: var(--bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  max-width: 400px;
  background-color: var(--bg-secondary);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  color: var(--text-primary);
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: var(--text-secondary);
}

input,
select {
  width: 100%;
  padding: 10px;
  background-color: var(--bg-input);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-size: 1rem;
  color: rgb(0, 0, 0);
}

input:focus,
select:focus {
  outline: none;
  border-color: var(--accent-primary);
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

button {
  width: 100%;
  padding: 12px;
  background-color: var(--accent-primary);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--accent-hover);
  transform: translateY(-2px);
}

#result {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
  color: var(--text-primary);
}
.swap-container {
  text-align: center;
  margin: 10px 0;
  align-items: center;
  text-align: center;
  padding-top: 30px;
 
}
p{
   margin-top:-3px;
}

#swap-btn {
  background-color: rgb(0, 0, 0);
  color: var(--text-primary);
  border: 1px solid var(--border-color);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-size: 20px;
  cursor: pointer;
  align-items: center;
  text-align: center;


}

#swap-btn:hover {
  background-color: var(--accent-primary);
}
#last-updated {
  margin-top: 15px;
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-secondary);
}
.select2-container--open .select2-dropdown {
  top: 100% !important;
}
